#desc {
    /* align-self: flex-end; */
    /* padding-bottom: 10px; */
    text-align: right;
    margin-right: 20px;
}

/* #arrow {
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    bottom: 10px;
} */